/* Grid */
* {
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 150px 90px 300px 500px 650px 800px 500px 50px 200px 90px; 
}

/* Navigation Bar */

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: whitesmoke;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.navigationBar .logo img {
    width: 150px;
}

.navigationBar .navigation {
    list-style: none;
}

.navigationBar .navigation li {
    display: inline-block;
    padding: 0px 25px;
}

.navigationBar .navigation li a {
    transition: all 0.3s ease 0s;
    color: darkgray;
    text-decoration: none;
    font-size: 30px;
}

.navigationBar .navigation li a:hover {
    color: #0088a9;
}

/* Title */

.title {
    grid-column: 1/-1;
    grid-row: 2/3;
    background-color: grey;    
}

.title h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 60px;
    margin: 0;
}

/* Product Description */

.products {
    grid-column: 1/-1;
    grid-row: 3/5;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 40px);

    background-color: grey;
    grid-gap: 10px;
    color: whitesmoke;
}

.products .product1 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.products .product1 h1 {
    text-align: center;
}

.products .product2 {
    grid-column: 4/5;
    grid-row: 1/2;
}

.products .product2 h1 {
    text-align: center;
}

/* Product Video */

.productVideo {
    grid-column: 1/-1;
    grid-row: 5/6;
    background-color: whitesmoke;
}

.productVideo h1 {
    font-size: 40px;
    color: darkgray;
}

/* Pricing */

.pricing {
    grid-column: 1/-1;
    grid-row: 6/7;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 160px);
    background-color: grey;
}

.pricing .pricingTitle {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
    font-size: 70px;
    color: whitesmoke;
}

.pricing .price1 {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.pricing .price2 {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
}

.pricing .price1 h1 {
    font-size: 50px;
    color:whitesmoke;

}

.pricing .price2 h1 {
    font-size: 50px;
    color: whitesmoke;
}

/* Contact */

.contactForm {
    grid-column: 1/-1;
    grid-row: 7/9;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px auto auto auto;

    background-color: whitesmoke;
}

.contactForm .contactTitle {
    grid-column: 1/-1;
    grid-row: 1/2;
    text-align: center;
}

.contactForm .contactTitle h1 {
    font-size: 60px;
    color: darkgray;
}

.contactForm .NameAddress {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.contactForm .NameAddress input {
    height: 20px;
    width: 400px;
    font-size: 20px;
}

.contactForm .comments {
    grid-column: 1/-1;
    grid-row: 3/4;
    text-align: center;
}

.contactForm .comments input {
    height: 100px;
    width: 1035px;
    font-size: 20px;
}

.contactForm .button {
    grid-column: 1/-1;
    grid-row: 4/5;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

/*--- Footer ---*/

.footer {
    grid-column: 1/-1;
    grid-row: 9/10;
    background-color: #38393B;
}

.footer .FooterTitle h2 {
    text-align: center;
    font-size: 40px;
    color: white;
}

.footer .FooterLinks {
    display: flex;
    justify-content: space-evenly;
}

.footer .FooterLinks a {
    font-size: 50px;
    color: white;
    display: inline-block;
    text-align: center;
}

/*--- Copyright ---*/

.copyrightText {
    grid-column: 1/-1;
    grid-row: 10/11;
    background-color: #38393B;
    padding: 15px 40px;
    border-top: 1px solid #646568;;
    text-align: center;
    color: white;
  }
/*--- Header ---*/
